.click {
	cursor: pointer;
}

#loading {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url('images/page-loader.gif') 50% 50% no-repeat rgb(249,249,249);
}

.input-table thead tr{
	background: #dedede;
}

.input-table .even {
	background: #d5d5d5;
}
